name: Cleanup Action Runs And PRs

on:
  push:
  schedule:
    - cron: "0 12 * * *"

jobs:
  cleanup:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@main

      - name: Set up Python
        uses: actions/setup-python@main
        with:
          python-version: "3.x"

      - name: Cache Python dependencies
        uses: actions/cache@main
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade -r requirements.txt

      - name: Update dependencies
        run: |
          python .github/scripts/upgrade_packages.py

      - name: Run cleanup script
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          USERNAME: "Happy-clo"
        run: |
          python .github/scripts/main.py

      - name: Run cleanup forks
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          USERNAME: "Happy-clo"
        run: |
          python .github/scripts/cleanup_forks.py

      - name: Run auto set perms
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          USERNAME: "Happy-clo"
        run: |
          python .github/scripts/auto_perms.py
